@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --BGBackground: #131314;
    --Stroke: #1A1A1A;
    --WhiteAshes: #E5E2E3;
    --WhitePink: #C7C4D7;
    --Obsidian-original: #A020F0;
    --max-section-w: 1200px;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

html, body {
    background-color: var(--BGBackground);
    color: var(--WhiteAshes);
    scroll-behavior: smooth;
    scroll-padding-top: 95px;
}

html, body, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-size: 16px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Geist';
}

main {
    .section {
        padding: 0 2rem;
        margin-top: 32px;
    }
}

p {
    color: var(--WhitePink);
    letter-spacing: normal;
    font-size: 20px;
}

.uppercase {
    text-transform: uppercase;
}

.btn-violet {
    background-color: var(--Obsidian-original);
    color: var(--WhiteAshes);
    border: none;
    padding: 1rem 2rem;
    font-family: 'Geist';
}

a {
    position: relative;
    color: var(--Obsidian-original);
    text-decoration: none;
    
    &:hover {
        cursor: pointer;
    }

    &.underline:after {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: var(--Obsidian-original);
        bottom: -2px;
        left: 0;
    }
}

hr {
    height: 1px;
    width: 100%;
    border: none;
    background-color: var(--Stroke);
}

.p-card {
    width: 100%;

    img {
        width: 100%;
    }
}

.capitalize {
    text-transform: capitalize;
}

.desktop-only {
    display: none;
}


@media (min-width: 768px) {
    .mobile-only {
        display: none;
    }
    .desktop-only {
        display: unset;
    }

    .main {
        .section {
            padding: 0 2rem;
            max-width: var(--max-section-w);
            margin-left: auto;
            margin-right: auto;
        }
    }
}